*.o
*.a
*.dis
cross-devel/as/pdp11-asm
cross-devel/as/pdp11-asm2
cross-devel/c2/c2
cross-devel/cc/pdp11-cc
cross-devel/cc/pdp11-pcc
cross-devel/ccom/c0
cross-devel/ccom/c1
cross-devel/ccom/cvopt
cross-devel/ccom/table.c
cross-devel/cpp/cpp
cross-devel/cpp/cpy.c
cross-devel/ld/pdp11-ar
cross-devel/ld/pdp11-disasm
cross-devel/ld/pdp11-ld
cross-devel/ld/pdp11-nm
cross-devel/ld/pdp11-size
cross-devel/ld/pdp11-strip
cross-devel/pcc/ccom
cross-devel/pcc/cgram.c
cross-devel/pcc/gram.in
cross-devel/pcc/pcclocal.h
cross-devel/pcc/pcctokens
old_bkunix/fsutil/u6-fsutil
old_bkunix/src/bin/cal
old_bkunix/src/bin/cat
old_bkunix/src/bin/clock
old_bkunix/src/bin/cp
old_bkunix/src/bin/date
old_bkunix/src/bin/df
old_bkunix/src/bin/echo
old_bkunix/src/bin/ed
old_bkunix/src/bin/halt
old_bkunix/src/bin/ln
old_bkunix/src/bin/ls
old_bkunix/src/bin/mkdir
old_bkunix/src/bin/mount
old_bkunix/src/bin/mv
old_bkunix/src/bin/od
old_bkunix/src/bin/pwd
old_bkunix/src/bin/rm
old_bkunix/src/bin/rmdir
old_bkunix/src/bin/sh
old_bkunix/src/bin/stty
old_bkunix/src/bin/sync
old_bkunix/src/bin/umount
old_bkunix/src/bin/wc
old_bkunix/src/etc/fsck
old_bkunix/src/etc/glob
old_bkunix/src/etc/init
old_bkunix/src/etc/mkfs
old_bkunix/src/etc/mknod
old_bkunix/src/root.bkd
old_bkunix/src/stand/fdfmt
old_bkunix/src/stand/fdgetrom
old_bkunix/src/stand/fdinfo
old_bkunix/src/stand/hello
old_bkunix/src/sys/bkunix
old_bkunix/src/sys/bkunix.map
old_bkunix/src/sys/boot
/.idea/
cross/
root.dsk
irps.log
fsutil/lsx-util
/bin/lsx-util
